img{
    max-width: 100%;
    height: auto;s
}

body>h1{
    margin-top: 1em;
    margin-left: .5em;
}

.carousel h2,{
    margin: 0 20px;
}

h2{
    margin-left: 1em;
    border-bottom: white solid 2px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 3px;
}

.carousel{
    background-color: #2A4577;
    color: white;
    padding: 20px 0;
}

ul.carousel-item{
    list-style: none;
    padding: 20px 0;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

li.carousel-item{
    flex: 1 0 220px;
    margin-right: 20px;
    scroll-snap-align: center;
}

::-webkit-scrollbar{
    height: 2px;
}

::-webkit-scrollbar-track{
    background-color: lightgray;
}

::-webkit-scrollbar-thumb{
    background-color: black;
}

