body{
    background-color: #EFEFEF;

}

footer a{
    color: #AAB2BA;
}

.NomPolluweb a{
    color: white;
    font-size: 23;
    font-family: HelveticaNeue-Light,"Helvetica Neue";
    font-weight: 300;
}

img{
    max-width: 100%;
    height: auto;
}

.exergue{
    background-color: #2A4577;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

.legende{
    font-style: italic;
}

body>header>.logo{
    width: 40px;
    height: 44px;
    margin-top: 3em;
    margin-left: 1em;
}

header{
    width: 375px;
    height: 112px;
    background-color: #00184D;
    display: inline-flex;
    font-family: "Helvetica Neue";

}

.NomPolluweb{
    margin-block: 2.3em;
    margin-left: 1.2em;
}


footer{
    background-color: #27324A ;
    color: white;
}

.Nom{
    margin-left: -8em;
    padding: .7em;
    margin-bottom: -7em;

}

footer{
    column-count: 3;
}

.ProjetRéalisé{
    font-size: 9px;
    line-height: 1.3;
    margin-top: 5em;
}

.Icones{
    column-count: 2;
    margin-right: 2em;
}

