body{
    background-color: #EBEBEB;
}

footer>svg>#footer>#Projet_réalisé_dans_le_cadre_d_un_exercice_pédagogique_au_département_MMI_Montbéliard_>tspan>a{
    fill: #AAB2BA;
}

.fondblanc>h1{
    margin-left: 1em;
}



body>h1{
    margin-left: 1em;
}

h1,h2{
    font-family: Comfortaa;
}

.flecheS>.fleche>a>svg{
    margin-top: -3em;
}

p .chapeau{
    color: #00184D;
    margin-bottom: 2em;
    margin-top: 2em;
}



#Tracé_5-2{
    display: none;
}


.questions{
    color: white;
    background-color: #00184D;
    font-size: 18px;
}

.DerniereQuestion>.questions>h3{
    margin-top: 3em;
}

.questions h3{
    margin: 1em;
    padding: .5em;
}

footer a{
    color: #AAB2BA;
}

body>footer>svg{

    background-color: #27324A;
}

.NomPolluweb a{
    color: white;
    font-size: 23;
    font-family: HelveticaNeue-Light,"Helvetica Neue";
    font-weight: 300;
}

img{
    max-width: 100%;
    height: auto;
}

.exergue{
    background-color: #2A4577;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

.legende{
    color: #0000008a;
    font-style: italic;
    display: block;
    float: right;
    margin-bottom: -1em;
    text-align: right;
    margin-right: 2em;

}

body>header>.logo{
    width: 40px;
    height: 44px;
    margin-top: 3em;
    margin-left: 1em;
}

header{
    width: 100%;
    height: 112;
    background-color: #00184D;
    display: inline-flex;
    font-family: "Helvetica Neue";
    
}

.NomPolluweb{
    margin-block: 2.3em;
    margin-left: 1.2em;
    margin-top: 2.2em;
}


footer{
    column-count: 3;s
    color: white;
}

.Nom{
    margin-left: -8em;
    padding: .7em;
    margin-bottom: -7em;

}


.ProjetRéalisé{
    font-size: 9px;
    line-height: 1.3;
    margin-top: 5em;
}

.Icones{
    column-count: 2;
    margin-right: 2em;
}

.BandeAnnonce{
    max-width: 100%;
}

.LogoGalerie{
    margin-top: 2em;
    float: right;
    margin-right: 1em;
    margin-bottom: 2em;
}

.fleche{
    margin-top: 7em;
    margin-bottom: 2em;
    margin-left: 2em;
}

.chapeau{
    font-style: italic;
    margin-top: 2em;
    margin-bottom: 2em;
    margin : 1em;
    line-height: 1.5em;
}

.fondblanc{
    background-color: white;
    padding-bottom: 1em;
    padding-top: 1em;
}

